SilverlightForms/AttrForm/AttrForm/Service References/DBService1/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" targetNamespace="" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="/Imports">
      <xsd:import />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="DBService_SaveNode_InputMessage">
    <wsdl:part name="parameters" element="SaveNode" />
  </wsdl:message>
  <wsdl:message name="DBService_SaveNode_OutputMessage">
    <wsdl:part name="parameters" element="SaveNodeResponse" />
  </wsdl:message>
  <wsdl:message name="DBService_GetTree_InputMessage">
    <wsdl:part name="parameters" element="GetTree" />
  </wsdl:message>
  <wsdl:message name="DBService_GetTree_OutputMessage">
    <wsdl:part name="parameters" element="GetTreeResponse" />
  </wsdl:message>
  <wsdl:message name="DBService_GetItem_InputMessage">
    <wsdl:part name="parameters" element="GetItem" />
  </wsdl:message>
  <wsdl:message name="DBService_GetItem_OutputMessage">
    <wsdl:part name="parameters" element="GetItemResponse" />
  </wsdl:message>
  <wsdl:message name="DBService_SaveNodeEstructure_InputMessage">
    <wsdl:part name="parameters" element="SaveNodeEstructure" />
  </wsdl:message>
  <wsdl:message name="DBService_SaveNodeEstructure_OutputMessage">
    <wsdl:part name="parameters" element="SaveNodeEstructureResponse" />
  </wsdl:message>
  <wsdl:portType name="DBService">
    <wsdl:operation name="SaveNode">
      <wsdl:input wsaw:Action="urn:DBService/SaveNode" message="DBService_SaveNode_InputMessage" />
      <wsdl:output wsaw:Action="urn:DBService/SaveNodeResponse" message="DBService_SaveNode_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTree">
      <wsdl:input wsaw:Action="urn:DBService/GetTree" message="DBService_GetTree_InputMessage" />
      <wsdl:output wsaw:Action="urn:DBService/GetTreeResponse" message="DBService_GetTree_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetItem">
      <wsdl:input wsaw:Action="urn:DBService/GetItem" message="DBService_GetItem_InputMessage" />
      <wsdl:output wsaw:Action="urn:DBService/GetItemResponse" message="DBService_GetItem_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveNodeEstructure">
      <wsdl:input wsaw:Action="urn:DBService/SaveNodeEstructure" message="DBService_SaveNodeEstructure_InputMessage" />
      <wsdl:output wsaw:Action="urn:DBService/SaveNodeEstructureResponse" message="DBService_SaveNodeEstructure_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>