SilverlightForms/SLReglas/SLReglas/Service References/DBService/DBService11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://blackpoint:8080/DBService1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/" />
  <xs:element name="GetRules">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pAttr" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRulesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="GetRulesResult" nillable="true" type="q1:ArrayOfAttrReglas" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveRule">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="preglas" nillable="true" type="q2:ArrayOfAttrReglas" />
        <xs:element minOccurs="0" name="pIDattRel" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveRuleResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>