SilverlightForms/SLAttrFlia/SLAttrFlia/Service References/DBService/DBService2.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" targetNamespace="" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="/Imports">
      <xsd:import schemaLocation="http://blackpoint:8080/DBService2.svc?xsd=xsd0" />
      <xsd:import schemaLocation="http://blackpoint:8080/DBService2.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://blackpoint:8080/DBService2.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="DBService2_GetAtributoPorID_InputMessage">
    <wsdl:part name="parameters" element="GetAtributoPorID" />
  </wsdl:message>
  <wsdl:message name="DBService2_GetAtributoPorID_OutputMessage">
    <wsdl:part name="parameters" element="GetAtributoPorIDResponse" />
  </wsdl:message>
  <wsdl:message name="DBService2_GetAtributoPorNombre_InputMessage">
    <wsdl:part name="parameters" element="GetAtributoPorNombre" />
  </wsdl:message>
  <wsdl:message name="DBService2_GetAtributoPorNombre_OutputMessage">
    <wsdl:part name="parameters" element="GetAtributoPorNombreResponse" />
  </wsdl:message>
  <wsdl:portType name="DBService2">
    <wsdl:operation name="GetAtributoPorID">
      <wsdl:input wsaw:Action="urn:DBService2/GetAtributoPorID" message="DBService2_GetAtributoPorID_InputMessage" />
      <wsdl:output wsaw:Action="urn:DBService2/GetAtributoPorIDResponse" message="DBService2_GetAtributoPorID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAtributoPorNombre">
      <wsdl:input wsaw:Action="urn:DBService2/GetAtributoPorNombre" message="DBService2_GetAtributoPorNombre_InputMessage" />
      <wsdl:output wsaw:Action="urn:DBService2/GetAtributoPorNombreResponse" message="DBService2_GetAtributoPorNombre_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>