SilverlightForms/SLAttrFlia/SLAttrFlia/Service References/DBService/DBService21.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://blackpoint:8080/DBService2.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/" />
  <xs:element name="GetAtributoPorID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pAttr" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAtributoPorIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="GetAtributoPorIDResult" nillable="true" type="q1:ArrayOfAtributoInformacionGeneral" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAtributoPorNombre">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pNom" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAtributoPorNombreResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="GetAtributoPorNombreResult" nillable="true" type="q2:ArrayOfAtributoInformacionGeneral" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>